html {
	font-size:87.5%;
	scroll-behavior:smooth;
	min-height:100%;
}

body {
	font-family:$main-font;
	font-size:1em;
	background:#000;
	color:$color2;
	width:100%;
	min-height:100%;
	position:relative;
}

a {
	&:hover, &:focus {
		text-decoration:none;
	}
}

ul,ol {
	list-style:none;
	padding:0;
	margin:0;
}

img {
	max-width:100%;
	height:auto;
}

.app {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.main {
	position:absolute;
	left:20%;
	top:0;
	right:0;
	bottom:0;
	padding:0;
	overflow:hidden;
	z-index:$main-zindex;

	@media #{$mq-mobile} {
		left:64px;
	}

	html.embed-page & {
		position:fixed;
		left:0;
	}
}

.screen {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	background:$color1;
	z-index:$screen-zindex;
}
