.p-card-wrap {
	font-size:0;
}

.p-card {
	font-size:14px;
	display:inline-block;
	vertical-align:top;
	width:50%;
	padding:0 10px;
	margin:0 0 20px;

	@media (min-width:1200px) {
		width:33.333%;
	}

	@media #{$mq-md-max} {
		width:100%;
	}
}

.p-card__inner {
	border:1px solid #cacaca;
}

.p-card__head {
	background-size:contain;
	background-position:0;
	background-repeat:no-repeat;
	height:85px;
	overflow:hidden;
	border-bottom:5px solid #aa2568;

	.p-card--female & {
		border-bottom:5px solid #00ffcc;
	}
}

.p-card__title {
	display:block;
	margin-left:130px;
	background:#555;
	color:white;
	height:100%;
	position:relative;
	text-align:center;

	&:before {
		content:" ";
		position:absolute;
		top:0;
		right:100%;
		border:30px solid transparent;
		border-right-color:#555;
		border-bottom-width:85px;
		border-top:none;
		z-index:2;
	}

	&:after {
		content:" ";
		position:absolute;
		top:0;
		right:100%;
		border:35px solid transparent;
		border-right-color:#fff;
		border-bottom-width:95px;
		border-top:none;
		z-index:1;
	}
}

.p-card__username {
	color:#fff;
	text-align:center;
	margin:0;
	padding-top:12px;
	font-size:18px;
}

.p-card__game {
	font-size:12px;
}

.p-card__info-list {

}

.p-card__info-item {
	display:block;
	padding:5px 10px;
	border-bottom:1px solid #cacaca;
	position:relative;
}

.p-card__info-title {
	position:absolute;
	top:5px;
	left:10px;
	font-weight:bold;
}

.p-card__info-value {
	text-align:right;
}

.p-card__desc {
	background:#f3f1f1;
	padding:10px;
	text-align:justify
}

.p-card__links {}

.p-card__links__col1 {
	width:50%;
	float:left;
}

.p-card__links__col2 {
	width:50%;
	float:left;
	padding:20px 10px 10px;
}

.p-card__links__team {
	padding:10px;
	display:block;
	position:relative;
	min-height:50px;
	text-align:center;

	&:after {
		content:" ";
		display:block;
		position:absolute;
		top:10px;
		bottom:10px;
		right:10px;
		background:#cacaca;
		width:1px;
	}
}

.p-card__links__team-logo {
	width:100%;
	height:auto;
	max-width:40px;
	display:block;
	margin:auto;
}

.p-card__links__team-name {}

.p-card__links__twitch {
	color:#6441a5;
	font-weight:bold;
	text-decoration:underline;
	display:block;

	&:hover {
		text-decoration:underline;
		color:#6441a5;
	}
}

.p-card__links__twitter {
	color:#1DA1F2;
	font-weight:bold;
	text-decoration:underline;
	display:block;

	&:hover {
		text-decoration:underline;
		color:#1DA1F2;
	}
}
