.y-axis-label {
  font-size: 14px;
}

.axis--y1 text {
  fill: #aa2568;
}

.axis--y2 text {
  fill: #12a085;
}

.y-axis-label.y1 {
  font-weight: bold;
  text-transform: capitalize;
  fill: #aa2568;
  font-size: 14px;
}

.y-axis-label.y2 {
  font-weight: bold;
  text-transform: capitalize;
  fill: #12a085;
  font-size: 14px;
  transform: rotate(90deg);
}

.d3-tip {
  width: 120px;
  padding: 8px 12px;
  line-height: 1;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
}

.d3-tip.vertical-bar .title {
  color: #aa2568;
  font-weight: 700;
  margin-bottom: 8px;
}

.d3-tip.world-map .title {
  color: #6d235e;
  font-weight: 700;
  margin-bottom: 8px;
}
// .d3-tip.stacked {
//   width: 200px;
//   text-align: left;
//   padding: 8px 12px;
// }
// .d3-tip.stacked div {
//   padding: 2px 0;
// }
// .d3-tip.stacked .title {
//   margin-bottom: 0;
// }
// .d3-tip.stacked .frequent {
//   color: #ff3366;
// }
// .d3-tip.stacked .occasional {
//   color: #00ffcc;
// }
// .d3-tip.horizontal .title {
//   color: #12a085;
// }
// .d3-tip.area .title {
//   color: #12a085;
// }
// .d3-tip:after {
//   box-sizing: border-box;
//   display: inline;
//   font-size: 20px;
//   width: 100%;
//   line-height: 1;
//   color: rgba(0, 0, 0, 0.8);
//   content: '\25BE';
//   position: absolute;
//   text-align: center;
// }
// .d3-tip.n:after {
//   margin: -8px 0 0 0;
//   top: 100%;
//   left: 0;
// }
